@model IEnumerable<PakVisa.Models.Franchise>

@{
    ViewData["Title"] = "GetAllFranchises";
}

<h2>GetAllFranchises</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.FranchiseName)*@
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Username)*@
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Password)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Landline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRestrict)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsApproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserloginId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.FranchiseName)*@
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Username)*@
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Password)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Landline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fax)
                </td>
                <td>
                    <input type="checkbox" checked="@item.IsRestrict" />
                </td>
                <td>
                    <input type="checkbox" checked="@item.IsApproved" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserloginId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.FranchiseId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.FranchiseId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.FranchiseId })
                </td>
            </tr>
        }
    </tbody>
</table>
